.vs/
MygaClient/Library/
MygaClient/Logs/
MygaClient/Packages/
MygaClient/Temp/
MygaClient/UserSettings/
MygaClient/ProjectSettings/
MygaClient/Assets/SideAssets/
*.meta
*.unity
MygaMain/bin/
MygaMain/obj/
MygaMain/Properties/
MygaServer/bin/
MygaServer/obj/