.vs/
MygaClient/Library/
MygaClient/Logs/
MygaClient/Packages/
MygaClient/Temp/
MygaClient/UserSettings/
MygaClient/ProjectSettings/
MygaClient/Assets/SideAssets/
*.unity
*.cache
*.vsconfig
*.csproj
*.meta
MygaServer/bin/
MygaServer/obj/
